* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: black;
}

h1 {
    color: turquoise;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: blue;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none
}

.div {
    display: flex;
    justify-content: center;
}

img {
    width: 1500px;
    height: 400px;

}

.work {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#workContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#project-1{
height: 300px;
width: 81%;
margin: auto;
margin-bottom: 10px;
}
.project{
    width: 40%;
    height: 200px;
    margin: 15px 10px;
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/61d52d4e3a76ed81ac034ea8/The-10-Tech-Trends-That-Will-Transform-Our-World/960x0.jpg?height=399&width=711&fit=bounds");
    background-blend-mode:soft-light;
}

