* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: black;
}

h1 {
    color: turquoise;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: blue;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none
}

.div {
    display: flex;
    justify-content: center;
}

img {
    width: 1500px;
    height: 400px;

}

.work {
    display: flex;
    flex-direction: column;
    text-align: center;
}